<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" style="overflow: hidden !important;">
      <li class="header">MENU</li>
      <li box="layer-explorer-and-filter-box" class="left-box" id="layer-explorer-and-filter-button">
        <a href="#" title="<%= __('Filtros de datas, satélites, regiões, e outras camadas') %>">
          <div class="menu-btn-number">1</div>
          <i class="fa fa-gears"></i>
          <span><%= __('Filtros de datas, satélites, regiões, e outras camadas') %></span>
        </a>
      </li>
      <li box="graph-box" class="left-box" id="graph-button">
        <a href="#" title="<%= __('Gráficos') %>">
          <div class="menu-btn-number">2</div>
          <i class="fa fa-bar-chart"></i>
          <span><%= __('Gráficos') %></span>
        </a>
      </li>
      <li>
        <a href="#" title="<%= __('Exportar Dados') %>" id="export">
          <div class="menu-btn-number">3</div>
          <i class="fa fa-download"></i>
          <span><%= __('Exportar Dados') %></span>
        </a>
      </li>
      <li box="table-box" class="left-box" id="table-button">
        <a href="#" title="<%= __('Tabela de Atributos') %>">
          <div class="menu-btn-number">4</div>
          <i class="fa fa-table"></i>
          <span><%= __('Tabela de Atributos') %></span>
        </a>
      </li>
      <li>
        <a href="#" title="<%= __('Sobre') %>" id="about-btn">
          <div class="menu-btn-number">5</div>
          <i class="fa fa-copyright" style="font-size: 16px;"></i>
          <span><%= __('Sobre') %></span>
        </a>
      </li>
    </ul>
  </section>
</aside>
